

body {
    overflow-x: hidden;
    font-family: "Raleway";
}

.text-muted {
    padding-left: 3%;
    font-size: 15px;
    font-weight: 400;
    font-family: "Roboto";
    font-style: normal;
    color: #FFFFFF;
}

.text-primary {
    color: #1ee2e7;
}

p {
    font-size: 14px;
    font-family: "Raleway";
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color:#fff;
    font-family: "Raleway";
    font-weight: 800;
}
.btn-primary {
    border-color: #1ee2e7;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #1ee2e7;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #17d0d5;
    color: #fff;
    background-color: #17d0d5;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.btn-primary .badge {
    color: #1ee2e7;
    background-color: #fff;
}

.btn-xl {
    padding: 20px 40px;
    border-color: #1ee2e7;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #1ee2e7;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #17d0d5;
    color: #fff;
    background-color: #17d0d5;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #1ee2e7;
    background-color: #1ee2e7;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: rgb(204 246 255/86%);
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #1ee2e7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgb(204 246 255/86%);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navli{
    margin: 50px 2% 0;
    padding: 0;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: "Raleway";
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 1px;
    color: #909090;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #909090;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    background-color: #fff;
    color: #D4AF37;
    text-decoration: underline #D4AF37
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #D4AF37;
    text-decoration: underline #D4AF37
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 0 0;
        background-color: rgb(204 246 255/86%);
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    text-align: center;
    color: #fff;
    background: linear-gradient(to top left, #0494B3 2%,rgb(10, 25, 28) 80%,#0494B3 );
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}
p{
    color: #fff;
}
header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 66px;
        font-weight: 800;
        line-height: 90px;
    }
}
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main_img{
    margin-top: 15%;
    width: 425px;
    height: 474.27px;
    position: relative;
    float: right;
}
section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    box-sizing: border-box;
    text-align: center;
    padding: 18px 44.5px;
    border:2px solid #0494B3;
    border-radius: 20px;
    margin-bottom: 15px;
    font-weight: 600;
}
.img-responsive{
    margin: auto;
}
.YelUnderline{
    color: #D4AF37;
    text-decoration: underline #D4AF37;
}

section h3.section-subheading {
    color: #fff;
    margin-bottom: 75px;
    
    text-align: center;
    width: 432px;
    height: 120px;
    text-transform: none;
    font-family: "Raleway";
    font-size: 32px;
    font-weight: 700;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
    section h3.section-subheading {
        margin-left: 22vw;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}
#service{
    background: linear-gradient(to bottom left, #0494B3 5%,rgb(10, 25, 28) 80%,rgb(54, 84, 96));
}
#service .service-item {
    box-sizing: border-box;
    padding: 0;
    border-radius: 20px;
    right: 0;
}

#service .service-item .service-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#service .service-item .service-link .service-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#service .service-item .service-link .service-hover:hover {
    opacity: 1;
}

#service .service-item .service-link .service-hover .service-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
}

#service .service-item .service-link .service-hover .service-hover-content i {
    margin-top: -12px;
}

#service .service-item .service-link .service-hover .service-hover-content h3,
#service .service-item .service-link .service-hover .service-hover-content h4 {
    margin: 0;
}

#service .service-item  {
    background-color: #D9D9D936;
    margin: 0 auto;
    padding: 25px 10px 25px 0;
    width: 264.8px;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}

#service .service-item h4 {
    text-transform: uppercase;
}
#service .service-item  p {
    margin: 0;
    font-family: "Roboto";
    padding-top: 5%;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
#service .service-item:hover{
    color: #D9D9D999;
}

#service * {
    z-index: 2;
}

@media(min-width:767px) {
    #service .service-item {
        background-color: #D9D9D936;
        margin: 0 0 30px;
    }
    #service .service-item:hover {
        background-color: #D9D9D999;
        margin: 0 0 30px;
    }
}


#portfolio{
    background: linear-gradient(to bottom left, #0494B3 2%,rgb(10, 25, 28) 80%,rgb(54, 84, 96));
}
#portfolio .portfolio-item {
    background-color: #D9D9D936;
    box-sizing: border-box;
    padding: 0;
    border-radius: 20px;
    right: 0;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item  {
    background-color: #D9D9D936;
    margin: 0 auto;
    padding: 25px 10px 25px 0;
    width: 264.8px;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}

#portfolio .portfolio-item h4 {
    text-transform: uppercase;
}
#portfolio .portfolio-item  p {
    margin: 0;
    font-family: "Roboto";
    padding-top: 5%;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        background-color: #D9D9D936;
        margin: 0 0 30px;
    }
}





footer {
    padding: 25px 0;
    text-align: center;
    box-sizing: border-box;
    height: 160px;
}

footer span.copyright {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    top:40px;
    text-transform: uppercase;
    text-transform: none;
    font-family:"Raleway";
    line-height: 25px;
}
footer .language{
    justify-content: flex-end;
    position: absolute;
}
footer button{
    padding: 5%;
    border: none;
    background: none;
    font-size: 20px;
    color: #fff;
    display: block;
}
footer button.shange_russian {
    margin-top: 20px;
}
footer button:hover{
    transition: all .3s ease;
    border: none;
    background: none;
    color: #D4AF37;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.showed{
    display: block;
}
.hidden{
    display: none;
}
img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}
.marquee-container{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
}
.marquee{
    font-size: 14px;
    line-height: 1.3;
    font-family: "Raleway";
    color: #fff;
    white-space: nowrap;
    animation: marquee 20s infinite linear;
}
.marquee:after{
    content: "PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO PORTFOLIO";
}
@keyframes marquee{
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
}

.service-col{
    font-size: 20px;
    width: 266px;
}

#portfolio button.selected{
    flex: 1 0 auto;
    max-width: 100%;
    color: #fff;
    font-family: "Questrial";
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    border: 0;
    border-bottom: 1px#fff solid;
    border-bottom-style: dashed;
    background-color: rgba(28,28,28,0);
    padding: 0 10%;
}
#portfolio button.selected:hover{
    color: #909090;
    font-family: "Questrial";
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    border: 0;
    border-bottom: 1px#00000066 solid;
    border-bottom-style: dashed;
    background-color: rgba(28,28,28,0);
    padding: 0 10%;
}
#portfolio button.active{
    font-family: "Questrial";
    font-size: 24px;
    font-weight: 400;
    color: #D4AF37;
    text-decoration: none;
    border: 0;
    border-bottom: 1px#D4AF37 solid;
    border-bottom-style: dashed;
    background-color: rgba(28,28,28,0);
}
#portfolio .selection{
    padding-left: 5%;
    padding-bottom: 5%;
}
#portfolio .portfolio-box{
    position: relative;
    z-index: 4;
}

#portfolio .portfolio-box .box{
    position: relative;
    float:left;
    text-align:center;
    width: 265px;
    z-index: 4;
    height: 265px;
    margin: 2% 0.5%;
    background-color:#D9D9D9;
    border-radius: 20px;
    
}
.disableed{
    pointer-events: none;
}
.vacancy{
    box-sizing: border-box;
    position: relative;
}
.img-left{
    margin-top: 10%;
    position: relative;
    left: -1%;
}
.bottom-text{
    width: 417px;
    text-align: center;
    height: 75px;
    position: relative;
    font-size: 24px;
    font-weight: 600;
}
.vacancy-text{
    position: absolute;
    text-align: center;
    line-height: 50px;
    font-size: 64px;
    font-weight: 800;
    font-family: "Raleway";
}
#about{
    background: linear-gradient(to top right, #0494B3 2%,rgb(37, 71, 91)40% ,rgb(28, 38, 41)80%);
}
.up{
    font-size: 70px;
}
.yellow{
    color: #F9BC60;
}
.vacancies{
    position: absolute;
    right: 0%;
    top: 1%;
    left: 55%;

}
.in_position{
    padding:2% 5% 0;
}
.position{
    margin-bottom: 5%;
    position: relative;
    text-align: left;
    width: 573px;
    height: 162px;
    background-color: #D9D9D936;
    border-radius: 20px;
}
.service-item:hover{
    background-color: #D9D9D999;
}
.mouse_over{
    background-color: #D9D9D999;
    transition: 0.3s linear;
}
.vacancies-vacancy{
    font-size: 20px;
    font-weight: 800;
    margin: 0;
}
.requirements{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.contact_us{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: none;
    font-size: 18px;
    text-transform: uppercase;
    color:#F9BC60;
}
.contact_us_show {
    display: block;
}
#team{
    background: radial-gradient( #0494B3 1%,rgb(28, 38, 41));
}
.team-main-text{
    position: absolute;
    left: 5%;
    text-align: left;
}
.team-text{
    text-align: left;
    position: absolute;
    right: 5%;
    width: 650px;
    height: 50px;
}
.team-center{
    text-align: center;
    font-size: 20px;
}
.team-img{
    padding-top: 5%;
    width: 1120px;
    height: 448px;
}
.team-img_head{
    margin-top: 2%;
    float: left;
    width: 65px;
    height: 65px;
}
.team-img_head_right{
    float: right;
    padding-top: 2%;
}
.team-img_head_right img{
    transition: all .3s ease;
}
.team-img_head_right:hover img{
    opacity: 0;
}
.team-img_head_right:hover{
    padding-top: 2%;
    background: url(Vector2.png) no-repeat 50% 100%;
}
.team-box{
    position: relative;
    padding-bottom: 5%;
}
.team-boxing{
    position: relative;
    padding:5% 0 10%;
}
hr {
    display: block;
    margin-top: 7%;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: 1px;
}








.slide-container{
max-width: 1120px;
width: 100%;
padding: 40px 0;
}
.slide-content{
margin: 0 40px;
overflow: hidden;
border-radius: 25px;
}
.card{
border-radius: 25px;
background-color: #D9D9D959;
height: 419px;
}
.image-content,
.card-content{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 14px 0px;
}
.image-content{
position: relative;
row-gap: 5px;
padding: 30px 0 0;
}
.name{
font-size: 24px;
font-weight: 600;
color: #fff;
}
.description{
font-size: 16px;
font-weight: 400;
color: #fff;
text-align: center;
}
.swiper-pagination-bullet{
background-color: #D9D9D9;
opacity: 1;
}
.swiper-pagination-bullet-active{
background-color: #D9D9D9;
}

@media screen and (max-width: 768px) {
.slide-content{
    margin: 0 10px;
}
}


#contact{
    background: linear-gradient(to top, rgb(17, 45, 55),rgb(7, 18, 20));
}
#contact p{
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 500;
    color: #BCBCBC;
}

#contact-form {
padding: 10px 20px 30px 20px;
max-width:100%;
width: 1500px;
float: left;
left: 50%;
position: relative;
margin-top:30px;
margin-left: -600px;
border-radius:20px;
}
#contact-form input{ 
    color: #fff;
width: 286px;
height: 96px;
border:2px solid #FFFFFFB2;
font-size: 15px;
margin-bottom: 2px;
font-family: Arial, san-serif;
} 
#contact-form input.name::placeholder{
    padding: 30% 4%;
}
#contact-form input.email::placeholder{
    padding: 30% 4%;
}
#contact-form textarea::placeholder{
    padding: 2% 1%;
}  
#contact-form textarea { 
width:100%;
float: left;
background: none;
border-radius: 20px;
margin-bottom: 25px;  
padding: 5px;  
}  
#contact-form input{
    width:296px;
    height: 86px;
    float: left;
    background: none;
    border-radius: 20px;
    margin-bottom: 25px;  
    padding: 5px; 
}
label .required_name{
    position: absolute;
    top:-2%;
    float: left;
}
label .required_email{
    position: absolute;
    top: 16.5%;
    float: left;
}
label .required_message{
    position: absolute;
    top: 35.5%;
    float: left;
}
label{
    box-sizing: border-box;
}
#contact-form input:focus::placeholder,  
#contact-form textarea:focus::placeholder {
    color: transparent;
}
#contact-form input:focus,  
#contact-form textarea:focus {
    transition: all .3s ease;
    outline: 2px solid #D4AF37;
    border: none;
}

#contact-form input:focus span.required{
    transition: all .2s ease;
    color:#D4AF37;
    outline: none;
}
#contact-form label:hover span{
    transition: all .2s ease;
    color:#D4AF37;
    outline: none;
}
#contact-form label:hover input{
    transition: all .2s ease;
    border: 2px solid #D4AF37;
    outline: none;
}
#contact-form label:hover textarea{
    transition: all .2s ease;
    border: 2px solid #D4AF37;
    outline: none;
}
#contact-form textarea {
color: #fff;
width: 970px;
height: 288px;
border:2px solid #FFFFFFB2;
font-size: 15px;
margin-bottom: 2px;
font-family: Arial, san-serif;
}
#contact-form button[type="submit"] {
cursor:pointer;
width: 195px;
height: 65px;
border:none;
background-color:#D9D9D9;
color:#D4AF37;
margin:0 0 5px;
padding:10px;
border-radius:20px;
}
#contact-form button[type="submit"]:hover {
background-color: #D4AF37;
color: #fff;
transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {  
box-shadow: none;
} 
#contact-form .required {  
left: 4%;
font-weight:bold;  
color: #E5E6E7;      
}
@media only screen and (max-width: 580px) {
#contact-form{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
}
}


footer{
    background-color: rgb(28, 56, 75);
}








.slider-container {
width: 650px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 8%;
padding-top: 10%;
}

.arrow {
font-size: 30px;
}

.slider {
display: flex;
width: 992px;
overflow: hidden;
margin: 0 10px;
}

.items {
width: 650px;
height: 369px;
/*   display: flex; */
position: relative;
color: #444;
font-size: 30px;
margin: 0 auto;
overflow: hidden;

/*   will-change: right;
transition: right .3s; */
}

.item {
width: 350px;
height: 369px;
position: absolute;
/*   display: flex;
align-items: center;
justify-content: center; */
/*   box-sizing: border-box; */
/*   border: 1px solid #444; */
transition: all ease .6s;
left: 0;
top: 0;
}

/* .item ~ .item {
border-left: none;
}
*/

.links{
    width: 370px;
    position: absolute;
    right: 1%;
    padding-top: 0.5%;
    padding-right: 3%;
}
.footer-img_tg_right{
    float: right;
    padding: 2% 5% 0;
}
.footer-img_tg_right img{
    transition: all .3s ease;
}
.footer-img_tg_right:hover img{
    opacity: 0;
}
.footer-img_tg_right:hover{
    padding-top: 2%;
    background: url(footer_img/tg2.png) no-repeat 50% 100%;
}



.footer-img_fb_right{
    float: right;
    padding: 2% 5% 0;
}
.footer-img_fb_right img{
    transition: all .3s ease;
}
.footer-img_fb_right:hover img{
    opacity: 0;
}
.footer-img_fb_right:hover{
    padding-top: 2%;
    background: url(footer_img/fb2.png) no-repeat 50% 100%;
}


.footer-img_in_right{
    float: right;
    padding: 2% 5% 0;
}
.footer-img_in_right img{
    transition: all .3s ease;
}
.footer-img_in_right:hover img{
    opacity: 0;
}
.footer-img_in_right:hover{
    padding-top: 2%;
    background: url(footer_img/in2.png) no-repeat 50% 100%;
}



.footer-img_ikt_right{
    float: right;
    padding: 2% 5% 0;
}
.footer-img_ikt_right img{
    transition: all .3s ease;
}
.footer-img_ikt_right:hover img{
    opacity: 0;
}
.footer-img_ikt_right:hover{
    padding-top: 2%;
    background: url(footer_img/ikt2.png) no-repeat 50% 100%;
}



.footer-img_gm_right{
    float: right;
    padding: 2% 5% 0;
}
.footer-img_gm_right img{
    transition: all .3s ease;
}
.footer-img_gm_right:hover img{
    opacity: 0;
}
.footer-img_gm_right:hover{
    padding-top: 2%;
    background: url(footer_img/gm2.png) no-repeat 50% 100%;
}
